%h5
  =link_to "/users/#{comment.user.id}" do
    = comment.user.name
%p
  = comment.content
- if user_signed_in? && comment.user_id == current_user.id
  = link_to "編集","/prototypes/#{@prototype.id}/comments/#{comment.id}/edit", method: :get
  = link_to "削除", "/prototypes/#{@prototype.id}/comments/#{comment.id}", method: :delete, remote: true
