.container.proto-page
  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row
    .col-md-6
      %h4
        #comment-header
          Comments(#{@prototype.comments.length})
      #comments
        = render partial: "prototypes/comment", collection: @prototype.comments
  .row
    .col-md-6
    %h4 Write a comment
    = form_tag("/prototypes/#{@prototype.id}/comments", method: :post, remote: true) do
      = text_field_tag :content, "", id: "commentForm"
      = submit_tag "COMMENT"
